#main_menu {
    -fx-background-image: url("images/menuBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1440 810;
    -fx-background-position: center center;
}
#instruction_label {
    -fx-font-family: Immortal;
    -fx-font-size: 15;
    -fx-fill: #ffffff;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
#death_screen {
    -fx-background-image: url("images/death.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1440 810;
    -fx-min-width: 1440;
    -fx-min-height: 810;
    -fx-max-height: 1440;
    -fx-max-width: 810;
    -fx-background-position: center center;
}

#start_button {
    -fx-background-image: url("images/start_button.png");
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-smoothing-type: lcd;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-text-fill: white;
    -fx-font-family: Immortal;
    -fx-font-size: 40px;
}

#start_button:hover {
    -fx-background-image: url("images/start_button_highlight.png");
}

#darkforest {
    -fx-background-image: url("images/battle_scenes/darkForest.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#flatnature {
    -fx-background-image: url("images/battle_scenes/flatNature.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#lightgrass {
    -fx-background-image: url("images/battle_scenes/grassLight.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#nightgrass {
    -fx-background-image: url("images/battle_scenes/grassNight.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#hills {
    -fx-background-image: url("images/battle_scenes/hills.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#mountains {
    -fx-background-image: url("images/battle_scenes/mountains.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#rockyforest {
    -fx-background-image: url("images/battle_scenes/rockyForest.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#snowyforest {
    -fx-background-image: url("images/battle_scenes/snowyForest.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#sunset {
    -fx-background-image: url("images/battle_scenes/sunset.png");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#dark {
    -fx-background-image: url("images/battle_scenes/creepyDark.jpg");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
#grassmountains {
    -fx-background-image: url("images/battle_scenes/grassMountain.jpg");
    -fx-pref-width: 1440;
    -fx-pref-height: 660;
}
@font-face {
    -fx-font-family: Immortal;
    src: url("immortal.ttf");
}









